:host {
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  min-height: 100vh;
  height: 100%;
  section {
    width: 100vh;
    margin-left: 5%;
    margin-top: 50px;

    button {
      width: 115px;
      height: 40px;
      background-color: #5051de;
      border: none;
      outline: none;
      color: #fff;
      border-radius: 15px;
      cursor: pointer;
      margin-bottom: 10px;
    }
    table {
      width: 100%;

      thead {
        width: 100%;
        tr {
          width: 100%;
          height: 50px;
          display: flex;
          justify-content: space-between;
          flex-direction: row;
          flex-wrap: wrap;
          align-items: center;
          text-align: left;
          margin: 0.5em 0;
          padding-left: 20px;

          th {
            border: none !important;
            text-align: left;
            flex: 1 1 150px;
          }
        }
      }
      tbody {
        tr {
          margin: 0.5em 0;
          width: 100%;
          height: 50px;
          background-color: #fff;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 10px;
          border-radius: 10px;
          border: 1px solid #dee1e6;
          cursor: pointer;
          text-align: left;
          padding-left: 20px;

          td {
            border: none !important;
            text-align: left;
            flex: 1 1 150px;

            .img {
              width: 30px;
              height: 30px;
              border-radius: 100%;
              background-position: center;
              background-repeat: no-repeat;
            }
            &.action {
              span {
                margin-right: 10px;
                &:last-child {
                  margin: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
