<form [formGroup]="formGroup">

  <label class="my-3">id</label>
  <input type="text" placeholder="Enter id" formControlName="id" required>

  <label>title</label>
  <input type="text" placeholder="Enter title" formControlName="title" required>

  <label>img</label>
  <input type="text" placeholder="Enter img URL" formControlName="img" required>

  <label>shortDescription</label>
  <input type="text" placeholder="Enter shortDescription" formControlName="shortDescription" required>

  <label>description</label>
  <input type="text" placeholder="Enter description" formControlName="description" required>

</form>

